.input {
  background-color: transparent;
  border-color: #0b2447;
}

.input:focus {
  border-color: #0b2447;
  outline: 0;
  background-color: rgba(11, 36, 71, 0.35);
  box-shadow: 0 0 0 0.25rem rgba(101, 100, 124, 0.25);
}

.submit-btn {
  border-color: #0b2447;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #0b2447;
  border-color: #0b2447;
}

.btn-current {
  display: block;
  background-color: #0b2447;
  border-color: #0b2447;
  margin-left: auto;
}

.btn-current:hover,
.btn-current:active {
  background-color: transparent;
  border-color: #0b2447;
  color: #212529;
}
