.input {
  background-color: rgba(241, 211, 179, 0.5);
  border-color: #65647c;
}

.input:focus {
  border-color: #65647c;
  background-color: #8b7e74;
  outline: 0;
  box-shadow: 0 0 0 0.25rem rgba(101, 100, 124, 0.25);
}

.submit-btn {
  border-color: #65647c;
}

.submit-btn:hover,
.submit-btn:active {
  background-color: #65647c;
  border-color: #65647c;
}

.btn-current {
  display: block;
  background-color: #65647c;
  border-color: #65647c;
  margin-left: auto;
}

.btn-current:hover,
.btn-current:active {
  background-color: transparent;
  border-color: #65647c;
  color: #212529;
}
